.movieSwiping-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.movieSwipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px 50px 50px;
  padding: 20px;
  background-color: lightgrey;
}

.preference-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .preferenceButtons {
    margin: 20px 50px;
    button {
      padding: 30px 50px;
      margin: 0px 20px;
      font-size: 40px;
    }
  }
  img {
    max-width: 410px;
    // width: 100%;
  }
}


