*{
  font-family:'Times New Roman', Times, serif;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(241, 235, 221);
}

main {
  flex-grow: 1;
}


a {
  text-decoration: none;
}

