.formPage{
  // background-color: blue;
  margin-top: 50px;
  h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
  }
  form{
    background-color: $bgdark;
    padding: 40px;
    border-radius: 20px;
    color: $headercolor;
    label{
      font-weight: bold;
      font-size: 0.9rem;
      color: $headercolor;
    }
    input, textarea{
      width: 100%;
      border: 1px solid $bglight;
      color: $headercolor;
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 5px;
    }
  }
}